header {
    background-color: aqua;
}

nav {
    background-color: yellow;
}

.home {
    font-weight: normal;
    font-size: 12px;
}

li {
    list-style: none;
    font-weight: bold;
    font-size: 14px;
}

a {
    color: red;
}

a:hover {
    color: blue;
}

ul {
    display: flex;
    justify-content: space-evenly;
}